body {
	margin: 0;
    padding: 0;
    color: #405063;	
}

img{
	max-width: 100%;
}	

a {
	color: #9bd331;	
	text-decoration: none;
}

@font-face {
  font-family: 'Adelle Sans W01 Regular';
  src: url('fonts/7ff3a37e1e7b7ffa2fd8845f7351d0bc.67896fc4.woff2') format('woff2');
}

@font-face {
  font-family: 'Adelle Sans W01 Bold';
  src: url('fonts/186081425f588a894cd7876472413453.e4abb3fa.woff2') format('woff2');
}

* {
    font-family: Adelle Sans W01 Regular;
    box-sizing: border-box;
}

.huge-container {
    max-width: 1140px;
}

.huge-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

@media (min-width: 550px){
.huge-container {
    width: 85%;
}
}

@media (min-width: 400px){
.huge-container {
    width: 90%;
    padding: 0;
}
}


/*****header*****/
.header-landing {
    background-image: url(img/parallax_image.0228ee4f.jpg);
    min-height: 27em;
}

.navbar-fixed {
    padding: 2.5em 0 0;
    position: fixed;
    width: 100%;
    z-index: 10000;
    background-image: url(img/parallax_image.0228ee4f.jpg);
    -webkit-transition: all .4s ease;
}

.navbar {
    width: 100%;
    height: 40px;
    position: relative;
    z-index: 10;
}

.syllabus-logo {
    position: relative;
    top: -0.6em;	
    float: left;
    height: 40px;
}

.syllabus-logo a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.navbar .menu {
    position: absolute;
    right: 0;
}

.navbar ul {
    list-style-type: none;
    display: inline-block;
    float: left;
    margin-right: 29px;
	margin-bottom: 0;
}

blockquote, dl, figure, form, ol, p, pre, table, ul {
    margin-bottom: 2.5rem;
}

ol, ul {
    padding-left: 0;
    margin-top: 0;
}

ul {
    list-style: inside;
}

.navbar ul li {
    display: inline;
    text-align: center;
    line-height: 40px;
    margin-left: 25px;
}

li {
    margin-bottom: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
}

.navbar ul li a:hover {
    color: #9bd331;
}

.home-active a {
    color: #9bd331!important;
}

.navbar .btnmenu-open {
    display: none;
}

.btnmenu-close {
    display: none;
    position: absolute;
    top: 18px;
    right: 10px;
    z-index: 10;
}

.navbar-toggle {
	border: 0px;
    padding: 11px;
    background-color: #9bd331;
    border-radius: 50%;
    position: relative;
    float: right;
    background-image: none;
    padding-top: 13px;
    padding-bottom: 13px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.navbar-toggle .icon-bar {
    display: block;	
    background-color: #fff;
	width: 19px;
    height: 2px;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}

.shrink {
    padding: 2rem 0;
}

.syllabus-logo a.logoBlog {
	float: right;
	letter-spacing: 1px;
	line-height: 0;
	color: #9bd331;
	font-weight: bold;
	font-size: 15px;
}

@media (min-width: 643px){
	.shrink {
		padding: 1rem 0;
	}
}

@media (max-width: 1138px){
	.menu-content-mobile ul li a {
		text-decoration: none;
		color: #a9b4c0;
	}

	.menu-content-mobile ul li a:hover {
		color: #9bd331;
	}

	.navbar .menu .menu-content {
		display: none;
	}	
		
	.menu-content-mobile {
		display: inline-block;
		width: 100%;
		max-width: 400px;
		height: 363px;
		padding-left: 4em;
	}
		
	.navbar .menu .btnmenu-open {
		display: inline-block;
		position: absolute;
		top: 18px;
		right: 0;
		z-index: 10;
		height: 40px;
	}	
		
	.btnmenu-close {
		display: inline-block;
	}

	.navbar .menu {
		background-color: #fff;
		display: inline-block;
		z-index: 10;
		border-radius: 5px;
		top: -1.2em;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
	}

	.menu-content-mobile ul {
		margin: 5rem 0 3rem;
		display: inline-block;
	}

	.menu-content-mobile ul li {
		width: 100%;
		margin: 0;
		text-align: left;
		line-height: 2.6em;
		display: inline-block;
	}
}


/*********************/
.main-layout {
    background-color: #f4f5f9;
    min-height: 50em;
}

@media (max-width: 414px) {
	.main-layout .huge-container {
		width: 100%;
		padding: 0;
	}
}

@media (max-width: 414px){
.main-layout section {
    top: -19.8em;
}
}

.main-layout section {
    top: -18em;
    position: relative;
    width: 100%;
}

.internal-navbar {
    display: inline-block;
    width: 100%;
}

.button-title, .button-title-left {
    display: flex;
    height: 17px;
}

.button-title div, .button-title-left div {
    background-color: #9bd331;
    color: #fff;
    cursor: default;
    border-radius: 5px;
    width: 101px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
}

.button-title-left div{
    background-color: #9bd331;
    color: #fff;
    cursor: default;
    border-radius: 5px;
    width: 101px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 14px;
    margin-left: 0;	
}

/*****body****/
.title-box, .container-navbar, .left-content, .right-content, .button-title-left {
	padding-left: 1em;
	padding-right: 1em;
}

.title-box, .container-navbar, .left-content, .right-content {
    background-color: #fff;
    padding-top: 34px;
    border-radius: 5px;
}

.left-content, .right-content {
    padding-top: 13px;	
	padding-bottom: 13px;
}

.title-box {
	background-color: #fff;
	border-radius: 5px;
	padding-top: 25px;
    padding-bottom: 13px;
}

.title-box p {
	margin: 0;	
}

.content-no-title{
	margin-top: 1em;
}

.landing{
	margin: 3em 0;
}

.centeredImg{
	display: block;
    margin: 0 auto;
}

.margin-content {
	margin-left: 1em!important;
    margin-right: 1em!important;
}

/***fotter***/

.footer {
    background-color: #c8cfd7;
    text-align: center;
    position: relative;
    padding: 50px 0;
}

.social-footer {
    height: 36px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0 auto 50px;
}

.footer .social-footer ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
}

.footer .social-footer ul li:first-child {
    margin: 0;
}

.footer .social-footer ul li {
    display: inline;
    margin-left: 30px;
    line-height: 36px;
}

.footer .social-footer ul li a {
    text-decoration: none;
    color: #fff;
}

.home-active-footer a {
    color: #a9b4c0!important;
}

.social-footer div {
    display: inline-block;
    margin-left: 30px;
}

.footer .social-footer ul li a:hover {
    color: #85919f;
}

@media (max-width: 665px){
	.footer {
		padding: 25px 0;
	}

	.footer .social-footer {
		margin: 0 auto 25px;
		padding: 0 30px;
		width: 100%;
		height: auto;
	}
	
	.footer .social-footer ul {
		width: 100%;
	}	

	.footer .social-footer ul li {
		margin: 0;
		text-align: left;
		display: block;
		line-height: 30px;
	}

	.logos-footer a:first-child {
		display: none;
	}

}

.logos-footer{
	display: flex;
	justify-content: center;
}

.logos-footer .logo+.logo{
	margin-left: 20px;
}

.subtitle{
	font-weight: bold;
}


/***skeleton extension***/

.u-max-width-l {
  max-width: 1124px;
  box-sizing: border-box; 
}

/**post**/

.post-date, .post-author {
	margin: 0;
    color: #85919f;
	font-size: 0.8em;
    font-style: italic;
}

.post-author {
	color: #9bd331;
}

.post-title {
    display: flex;
}

.post-title {
    font-family: Adelle Sans W01 Bold;
    margin-bottom: 1rem;
}

.post-subtitle{ font-weight: bold; }

.navigation-link{
	color: #9bd331;
}

.facebook-iframe{
	max-width: 100%;
}

.sidebar-title{
	font-weight: bold;
}

